<div class="jumbotron">
  <h1>Marta Bus Tracker</h1>
  <p>This application was built by <a href="http://hannahlehman.github.io">Hannah Joy Lehman</a> to practice creating a conversation between a Rails app and an existing API. Marta is Atlanta's public transportation system. It is also one of the few open source public transportation APIs available in the US.</p>
</div>